@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #234C7B 16.62%, #0067C7 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 18px;
}

.cabecalho-imagem {
    height: 72px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #E7F6FF;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #E7F6FF;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #E7F6FF
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #E7F6FF;
}

.conteudo-principal-escrito-botao {
    background-color: #C4D9EC;
    width: 185px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #2F2325
}

.conteudo-principal-escrito-botao:hover {
    background-color: rgba(196, 218, 236, 0.53);
}

.conteudo-principal-imagem {
    height: 430px;
    margin-top: 30px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px; 
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #C4D9EC;
    padding-top: 48px; 
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #E7F6FF;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #C4D9EC
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #C4D9EC;
    color: linear-gradient(44.96% 391.37% at 49.64% 50%, #FFD215 2.67%, #FFF172 100%);
}

.rodape-imagem {
    display: block;
    margin: 0 auto;
}